<div class="container">
  <div class="row">
    
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <!--ユーザー編集画面-->
      <h2>User info</h2>
      
      <!--エラーメッセージ-->
      <% if @user.errors.any? %>
        <ul class="error-box">
          <h3 class="error-title">
            <%= @user.errors.count %> error prohibited this obj from being saved:
          </h3>
          <div class="error-message">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </div>
        </ul>
      <% end %><!--エラー-->
      
      <%= form_with model:@user, local:true do |f| %>
        
        <div class="form-group">
          <label for="user-name">Name</label>
          <div class="name-area">
            <%= f.text_field :name, autofocus: true, id:"inputName" %>
          </div>
        </div>
        
        <div class="form-group">
          <label for="image_title">Image</label>
          <div class="image-area">
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
          </div>
        </div>
          
        <div class="form-group">
          <label for="introduction_title">Title</label>
          <div class="introduction-area">
            <%= f.text_area :introduction, autofocus: true, id:"inputIntroducton" %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.submit"Update User", class: 'btn btn-secondary' %>
        </div>
        
      <% end %>
      
    </div>

  </div><!--row

</div><!--container-->