<!--フラッシュメッセージ-->
<% if flash[:notice] %>
  <div class="alert">
    <%= notice %>
  </div>
<% end %><!--フラッシュメッセージ-->

<div class="container px-5 px-sm-0">
  <div class="row"><!--flex-->

    <div class="col-md-3"><!--左側-->
  
      <!--新規投稿-->
      <%= render 'books/form',book: @book %>
      <!--新規投稿-->
    </div><!--左側-->

    <div class="col-md-8 offset-md-1"><!--右側-->

      <!--個人が投稿したBook一覧-->
      <h2>Book detail</h2>

      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag @book.user, :profile_image, size:"40x40", fallback:"no_image.jpg" %>
              <%= link_to user_path(@book.user) do %>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <!--ログイン時編集と削除を表示-->
            <% if @book.user == current_user %>
            <td>
              <%= link_to"Edit",edit_book_path(@book), class: 'btn btn-sm btn-success' %>
            </td>
            <td>
              <%= link_to"Destroy",book_path(@book.id), class: 'btn btn-sm btn-danger',method: :delete,"data-confirm"=>"Are you sure?" %>
            </td>
            <% end %>
            <!--ログイン時編集と削除を表示-->
          </tr>
        </tbody>
      </table>

    </div><!--右側-->

  </div><!--flex-->
</div><!--container-->