<!--フラッシュメッセージ-->
<% if flash[:notice] %>
  <div class="alert">
    <%= notice %>
  </div>
<% end %><!--フラッシュメッセージ-->

<!--個人が投稿したBook一覧-->
<h2>Book detail</h2>

<!--ユーザーアイコン-->
<p><%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, fallback:"no_image.jpg" %></p>
<!--ユーザーネーム-->
<%= link_to user_path(@book.user) do %>
  <%= @book.user.name %>
<% end %>

<%= @book.title %>
<%= @book.body %>

<!--ログイン時編集と削除を表示-->
<% if @book.user == current_user %>
  <p><%= link_to"Edit",edit_book_path(@book) %> </p>
  <p><%= link_to"Destroy",book_path(@book.id),method: :delete,"data-confirm"=>"Are you sure?" %></p>
<% end %>
<!--ログイン時編集と削除を表示-->
